.footer-wrapper {
    padding: 2%;
    height: 90px;
    display: block;
    font-size: 15px;
    position: relative;
    color: rgb(114, 114, 114);
    background-color: rgb(235, 235, 235);
}

.footer {
    bottom: 8%;
    width: 96%;
    position: absolute;
}

.store-wrapper {
    display: inline;
}

.hline {
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.contact-wrapper {
    margin-top: 10px;
    color: rgb(100, 99, 99);
}

.contact-wrapper #contact {
    display: inline;
    position: relative;
    padding-left: 10px;
    text-decoration: none;
}

.contact-wrapper #contact:hover {
    filter: grayscale(50%);
}

.copyright {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}