.navbar-container {
  padding: 15px;
  background: rgb(252,149,11);
  !background: orange;
  overflow: auto;
  position: sticky;
  top: 0px;
  z-index: 10;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(80, 80, 80, 0.089);
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

.navbar-container .logo-box {
  float: left;
}

.navbar-container .logo-box #logo {
  text-decoration: none;
  color: rgb(90, 29, 0);
  font-size: 48px;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 3px 4px rgba(255, 255, 0, 0.5);
}

.navbar-container .logo-box img {
  width: 100px;
}

.navbar-container .menu-box {
  float: right;
  padding-top: 20px;
  font-size: 18px;
}

.navbar-container .menu-box a {
  text-decoration: none;
  color: black;
  padding: 0px 10px 0px 10px;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.5);
}

.navbar-container .menu-box a:hover {
  color: white;
}
