.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.page{
    width: 100%;
    
}

.productInfo{
    display:flex;
    width: 100%;
}


.slidepic{
    display:block;
    width: 35%;
    border-radius: 10px;
    margin: 20px;
    border:2px solid rgba(80, 80, 80, 0.089);
    /* box-shadow: 0 2px 2px -2px rgba(0,0,0,.15); */
    padding:5px;
}

.detail{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    flex-direction: row;
}
.number{
    display: flex;
    height: 40px;
    width: 125px;
    box-sizing: border-box;
    margin-right: 20px;
    border:1px solid rgba(80, 80, 80, 0.089);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}
.number-add, .number-sub{
    line-height: 2.3em;
    text-align: center;
    width: 100%;
}
.number-add:hover, .number-sub:hover{
    cursor: pointer;
}
.numbers{
    text-align: center;
    width: 100%;
    border: 0;
}

.addtocart, .wishlist{
    width: 100px;
    height: 40px;
    margin-right: 20px;
}
.cart, .wish{
    background-color: rgb(247,167,10);
    border:0px solid rgb(255, 217, 0);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
    color: rgb(90, 29, 0);
    width: 100%;
    height: 100%;
}

.cart:hover, .wish:hover{
    background-color: rgb(90, 29, 0);
    color:white;
}

.item-name{
    font-size: 2em;
}

.descript{
    font-size: 1.5em;
}

.price{
    font-size: 2em;
}

.userInfo{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.table-list{
    display: flex;
    justify-content: center;
}
.tabButton{
    outline: none;
    padding: 10px 30px 10px 30px;
    /* padding-bottom: 2px; */
    font-size: 1.8em;
    background-color: white;
    border: 0px;
    border-radius: 0px;
}
/* .review:hover, .spec:hover{
    background-color: rgba(168, 168, 168, 0.342);
} */
.hoverd{
    background-color: rgba(114, 114, 114, 0.603);
}
.active{
    border-bottom:2px rgb(247,167,10) solid;
    padding-bottom: 8px;
}

.tabContent{
    width: 100%;

}
.slick-dot{
    bottom: 1px !important;
    opacity: 0.1;
    transition: 0.3s;
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    /* transform: translateY(20px); */
}
.slick-dot li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-thumbs{
    width: 100%;
}
.slick-slider:hover .slick-dot{
    /* transform: translateY(-20px); */
    opacity: 1;
    bottom: 10px !important;
    /* background-color: rgba(59, 59, 59, 0.247) !important; */
}
/*  */
.slick-dot li{
    
    border:2px solid rgba(83, 83, 83, 0.404);
    border-radius: 2px;
    width: 13% !important;
    height: 13% !important;
    margin: 0 2px !important;
}
.slick-dot li.slick-active{
    border: 2px solid rgb(247,167,10);

}

@media (max-width: 320px){
    .productInfo{
        flex-direction: column;
    }
    .slidepic{
        width: 100%;
        margin: 0 auto;
    }
    .cart, .wish{
        font-size: 0.6em;
    }
    .tabButton{
        font-size: 0.8em;
    }
    .item-name{
        font-size: 1em;
    }
    .descript{
        font-size: 0.8em;
    }
    .price{
        font-size: 0.8em;;
    }
}
@media (min-width: 320px){
    .productInfo{
        flex-direction: column;
    }
    .slidepic{
        width: 100%;
        margin: 0 auto;
    }
    .cart, .wish{
        font-size: 0.6em;
    }
    .tabButton{
        font-size: 0.8em;
    }
    .item-name{
        font-size: 1em;
    }
    .descript{
        font-size: 0.8em;
    }
    .price{
        font-size: 0.8em;
    }
}
@media (min-width:767px){
    .productInfo{
        flex-direction: column;
    }
    .itemInfo{
        width: 80%;
        margin: 0 auto;
    }
    .slidepic{
        width: 80%;
        margin: 0 auto;
    }
    .button{
        justify-content: center;
    }
    .tabButton{
        font-size: 1.5em;
    }
    .cart, .wish{
        font-size: 0.8em;
    }
    .item-name{
        font-size: 1.2em;
    }
    .descript{
        font-size: 1em;
    }
    .price{
        font-size: 1em;
    }
}

@media (min-width:1023px){
    .productInfo{
        flex-direction: row;
    }
    .itemInfo{
        width: 80%;
        margin: 0;
    }
    .detail{
        margin: 0 auto;
    }
    .slidepic{
        width: 35%;
        margin: 20px;
    }
    .button{
        justify-content: center;
    }
    .tabButton{
        font-size: 2em;
    }
    .cart, .wish{
        font-size: 1em;
    }
    .item-name{
        font-size: 1.5em;
    }
    .descript{
        font-size: 1.2em;
    }
    .price{
        font-size: 1.2em;
    }
}


